<div id = "profile">
	<div id = "user_inf">
		
		<div id = "user_avatar">
			<img src="/assets/example">
			<button>Write message</button>
		</div>

		<div id = "all_inf" class="padd15">
			<h2>Personal information</h2>
			<div class = "scroll">
				<ul>
					<li><div>Full name: <%= @user.profile.name %> <%= @user.profile.surname%></div></li>
					<li><div>Personal code: <%= @user.code%></div></li>
					<li><div>Position: <%= @user.profile.position%></div></li>
					<li><div>Country: <%= @user.profile.country%></div></li>
					<li><div>Place of study: <%= @user.profile.place_of_study%></div></li>
					<li><div><%= @user.profile.name %>'s age: <%= @user.profile.age%></div></li>
					<li><div>Birthday: <%= @user.profile.birthday%></div></li>
					<li><div>Hobby: <%= @user.profile.hobby%></div></li>
					<li><div>Birthday: <%= @user.profile.birthday%></div></li>
					<li><div>Where want to live: <%= @user.profile.where_want_to_live%></div></li>
					<li><div>With what animal is associated: <%= @user.profile.association_with_animal%></div></li>
					<li><div>Plans for future: <%= @user.profile.plan_for_future%></div></li>
					<li><div>Description: <%= @user.profile.description%></div></li>
				</ul>
			</div>
		</div>

		<div id = "anon_mes" class="padd15">
			<h2>Write anonymous message</h2>
		</div>

	</div>

	<div id="user_photos">
		
	</div>
</div>