<div class = "article" data-key = "<%= article.id %>">
	<div class = "art_title">
		<%= article.title %>
	</div>

	<div class = "art_photo">
		<%= image_tag(article.photo) %>
	</div>

	<div class = "art_desc">
		<%= article.description %>
	</div>

	<div class = "art_imp">
		<%= article.importance %>
	</div>

	<div class = "art_user">
		Created by: <%= article.user_code %>
	</div>

	<% if current_user && current_user.code == article.user_code %>

		<div class = "art_set">
			<div class = "art_edit">
				<%= link_to 'Edit', edit_article_path(article), {class: 'edit_article' }%>
			</div>

			<div class = "art_edit">
				<%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure want to delete this?'}, class: 'delete_art_lnk' %>
			</div>
		</div>

	<% end %>

</div>
